target
output
.classpath
.project
.wtpmodules
*~

/.metadata
/com.microsoft.gittf.client.clc/.settings/org.eclipse.jdt.ui.prefs
/com.microsoft.gittf.core/.classpath
/com.microsoft.gittf.core/.project
/com.microsoft.gittf.core/.settings/org.eclipse.jdt.ui.prefs